body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.fire-icon {
  font-size: 2.5rem;
  color: red;
}